
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'candy:index' %}">CINEMA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item"><a class="nav-link active me-3" aria-current="page" href="{% url 'candy:about' %}">About</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link me-3" href="{% url 'candy:empleados' %}">Control Candy</a></li>
                    <li class="list-group-item"><a class="nav-link me-3" href="{% url 'candy:categorias' %}">Control Categorias</a></li>
                    <li class="list-group-item"><a class="nav-link me-3" href="{% url 'candy:peliculas' %}">Control Peliculas</a></li>
                    <form action="{% url 'candy:logout' %}" method="post" class="ms-2 me-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Cerrar sesion</button>
                    </form>
                {% else %}
                    <li class="nav-item"><a class="nav-link me-3" href="{% url 'candy:candy_list' %}">Candy</a></li>
                    <li class="nav-item"><a class="nav-link me-3" href="{% url 'candy:login' %}">Sector Empleado</a></li>
                {% endif %}

                <form method="get" class="me-2">
                    <input type="text" name="busqueda" placeholder="Buscar..." class="form-control">
                </form>
            </ul>
        </div>
    </div>
</nav>
