{% extends 'candy/base.html' %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
    </head>
    <body>
        {% block content %}
        {% load static %}
            <h1>Acerca de mi</h1>
            <h3>Mirabel, Naren Nahuel</h3>
            <h5>Estudiante de Ingeniería Industrial en UNLaM</h5>
            <a href="https://www.linkedin.com/in/naren-mirabel/">
                <button>
                    <img src="{% static 'candy/linkedin.svg' %}" alt="linkedin" height="50px" width="100px">
                </button>
            </a>
        {% endblock content %}

    </body>
</html>