{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CINEMA</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'candy/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'candy/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>

        {% include 'componentes/nav.html' %}

        <!-- Page Content-->
        <main class="flex-shrink-0 py-5">
            <div class="container-fluid px-4 px-lg-5 mb-5 mt-auto">
                {% block content %}
                {% endblock content %}
            </div>
        </main>

        {% include 'componentes/footer.html' %}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'candy/js/scripts.js' %}"></script>
    </body>
</html>
