{% extends 'candy/base.html' %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio - Sector de empleados</title>
    </head>
    <body>
        {% block content %}
        {% load static %}
            <form method="post" class="mt-3">
                {% csrf_token %}
                <h2>Agregar categoria</h2>
                <div class="mb-3">
                    <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="{{ form.nombre.id_for_label }}" name="{{ form.nombre.name }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            <br>
            <div style="max-width: 600px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Categorias</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for c in categoria %}
                        <tr>
                            <td>{{c.nombre}}</td>
                            <td><a href="{% url 'candy:categoria_update' c.id %}" class="btn btn-sm btn-warning">Editar</a></td>
                            <td><a href="{% url 'candy:categoria_delete' c.id %}" class="btn btn-sm btn-danger">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock content %}

    </body>
</html>
