<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio - Sector de empleados</title>
    </head>
    <body>
        <ol>
            <li><h1>Cinema - Sector de empleados</h1></li>
            <li><a href="{% url 'candy:categorias' %}">Categorias</a></li>
            <li><a href="{% url 'candy:peliculas' %}">Control de Peliculas</a></li>
            <li><a href="{% url 'candy:index' %}">Volver</a></li>
        </ol>
        <form method="post">
            {% csrf_token %}
            <h2>Candy</h2>
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
        <br>
        <table>
            <tr>
                <th>Candy</th>
                <th>Precio</th>
            </tr>
            {% for c in candy %}
                <tr>
                    <td>{{c.nombre}}</td>
                    <td>{{c.precio}}$</td>
                    <td><a href="{% url 'candy:candy_update' c.id %}"><button>Editar</button></a></td>
                    <td><a href="{% url 'candy:candy_delete' c.id %}"><button>Eliminar</button></a></td>
            {% endfor %}
        </table>

        <br>
