
{% extends 'candy/base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cinema</title>
    </head>
    <body>


        {% block content %}


        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'candy/cine-portada.webp' %}" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">CineMirabel</h1>
                <p>🎬 ¡Vení a vivir la magia del cine como nunca antes! 🍿✨ En CineMirabel, te esperamos con las últimas películas en cartelera, la mejor calidad de imagen y sonido envolvente que te transportará al corazón de cada historia. Disfrutá de butacas súper cómodas, combos irresistibles de pochoclos y promos especiales para que vivas una experiencia única. 🎟️🔥 ¿Qué esperás? ¡Sacá tu entrada y sumergite en la emoción del séptimo arte! 🎥🍫</p>
                <a class="btn btn-primary" href="#!">Comprar entradas</a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><h5 class="text-white m-0">🎬 Grandes historias te esperan en la pantalla grande. ¿Estás listo para la función? 🍿</h5></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card One</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Two</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Three</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
        </div>




            {% for message in messages %}
                {{ message }}
            {% endfor %}
            {% for p in pelicula %}
                <h2>{{p.titulo}}</h2>
                <h5>{{p.fecha_lanzamiento}}</h5>
                <p>{{p.descripcion}}</p>
            {% endfor %}
        {% endblock content %}

    </body>
</html>