{% extends 'candy/base.html' %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio - Sector de empleados</title>
    </head>
    <body>
        {% block content %}
        {% load static %}
            <form method="post" class="mt-3">
                {% csrf_token %}
                <h2>Agregar Pelicula</h2>
                <div class="mb-3">
                    <label for="{{ form.titulo.id_for_label }}" class="form-label">Título:</label>
                    <input type="text" class="form-control" id="{{ form.titulo.id_for_label }}" name="{{ form.titulo.name }}" required>
                </div>
                <div class="mb-3">
                    <label for="{{ form.descripcion.id_for_label }}" class="form-label">Descripción:</label>
                    <textarea class="form-control" id="{{ form.descripcion.id_for_label }}" name="{{ form.descripcion.name }}" rows="3" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="{{ form.fecha_lanzamiento.id_for_label }}" class="form-label">Fecha de lanzamiento:</label>
                    <input type="date" class="form-control" id="{{ form.fecha_lanzamiento.id_for_label }}" name="{{ form.fecha_lanzamiento.name }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            <br>
            <table class="table table-striped">
                <thead>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-2">Peliculas</th>
                        <th class="col-md-4">Descripcion</th>
                        <th class="col-md-2 text-center">Fecha de estreno</th>
                        <th class="col-md-1">Editar</th>
                        <th class="col-md-1">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in peliculas %}
                    <tr>
                        <td class="col-md-2">{{p.titulo}}</td>
                        <td class="col-md-4">{{p.descripcion}}</td>
                        <td class="col-md-2 text-center">{{p.fecha_lanzamiento}}</td>

                        <td class="col-md-1"><a href="{% url 'candy:pelicula_update' p.id %}" class="btn btn-sm btn-warning">Editar</a></td>
                        <td class="col-md-1"><a href="{% url 'candy:pelicula_delete' p.id %}" class="btn btn-sm btn-danger">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock content %}

    </body>
</html>
